.header__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; }

.header__img {
  width: 300px; }

.header__title {
  position: absolute;
  bottom: -10px;
  left: 60%;
  font-family: 'Eagle Lake', cursive;
  font-size: 1.6rem;
  color: #21202b; }

.parchment__outer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw; }

.parchment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: auto; }
  .parchment:hover .parchmentMiddleDIV {
    display: block;
    width: 90vw;
    transition: width ease-out 2.5s; }

.parchmentLeftDIV {
  margin-left: 30px;
  text-align: right; }

.parchmentLeft {
  height: 190px; }

.parchmentMiddleDIV {
  z-index: 2;
  margin-bottom: 16px;
  height: 130px;
  width: 5px;
  background: url("../images/parchment-middle.png");
  background-size: 90vw 95%;
  background-position: left;
  background-repeat: repeat-x;
  overflow: hidden;
  transition: width ease-out 1s; }
  .parchmentMiddleDIV:hover {
    display: block;
    width: 90vw;
    transition: width ease-out 2.5s; }

.parchmentRightDIV {
  z-index: 2;
  text-align: left; }

.parchmentRight {
  height: 190px; }

.filterBox--outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0;
  height: 100px;
  width: 90vw;
  padding: 10px 0;
  box-shadow: 0 4px 20px 1px rgba(103, 101, 101, 0.2); }

.filtersBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 80%;
  padding: 10px; }
  @media all and (min-width: 460px) {
    .filtersBox {
      grid-template-columns: 1fr 1fr; } }
  @media all and (min-width: 700px) {
    .filtersBox {
      width: 80vw;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media all and (min-width: 940px) {
    .filtersBox {
      grid-template-columns: 1.2fr 1.5fr 1fr 1fr 0.5fr; } }

.header__filters--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px; }

.header__label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600; }

.header__label-byHouse {
  margin-left: -80px; }

.header__label-byFavorite {
  width: 100px; }

.header__filters--favorites-img {
  width: 50px;
  filter: grayscale(100%);
  opacity: 0.4;
  cursor: pointer; }
  .header__filters--favorites-img.favorited {
    filter: none;
    opacity: 1; }

.header__searchField {
  border: 1px solid;
  height: 10px;
  width: 200px;
  padding: 10px;
  font-size: 0.9rem;
  font-family: sans-serif;
  opacity: 0.8; }

.header__select--box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-left: 20px;
  font-size: 0.9rem; }

.header__select {
  display: inline;
  height: 32px;
  width: 120px;
  font-size: 0.9rem;
  font-family: sans-serif;
  opacity: 0.8;
  cursor: pointer; }

.header__select--icon {
  margin: 0 0 30px 30px;
  height: 95px;
  opacity: 0.8; }

.header__checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  width: 150px;
  font-family: sans-serif;
  font-size: 0.9rem; }

.header__checkbox {
  cursor: pointer; }

.resetButton--box {
  grid-column: span 1; }
  @media all and (min-width: 700px) {
    .resetButton--box {
      grid-column: span 3; } }
  @media all and (min-width: 940px) {
    .resetButton--box {
      grid-column: span 1; } }

.header__resetButton {
  border: 1px solid black;
  border-radius: 20px;
  height: 32px;
  width: 100px;
  background: linear-gradient(to right, #91afde, #373B44);
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer; }
  @media all and (min-width: 430px) {
    .header__resetButton {
      margin-top: 15px; } }
  @media all and (min-width: 940px) {
    .header__resetButton {
      margin-top: 10px; } }
